HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=http://localhost:5050,http://127.0.0.1:5050,null

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC
APP_BASE_URL=http://localhost:5050
COOKIE_SECURE=false

AUTH_JWT_SECRET=
AUTH_ACCESS_TOKEN_EXPIRY=15m
AUTH_REFRESH_TOKEN_EXPIRY=168h
AUTH_EMAIL_CONFIRMATION_TOKEN_EXPIRY=24h

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

USERS_UNVERIFIED_CLEANUP_INTERVAL=24h
USERS_UNVERIFIED_CLEANUP_MIN_AGE=168h

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
